#wrapper{
  display:flex;
  background-color: #fff;
  padding:1rem 0;
  margin:auto;
  border-radius: 10px;
  border: 3px solid black;
  height:550px;
}
#sidebar-wrapper{
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
}
.sidebar-nav{
  display:flex;
  flex-direction: column;
  width:200px;
    background-color: #009975;
    flex: 4;
    overflow-y: auto;
    overflow-x: hidden;
    margin:0;
    padding:0;
}

.listItems{
  color:#fff;
  line-height: 40px;
  display:block;
  text-decoration: none;
  padding-left: 35px;
  margin-left: 2rem;
}

.sidebar-nav > .sidebar-brand {
  height: 46px;
  line-height: 50px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand p {
  margin-left:3.5rem;
  font-size: 1.3rem;
  color:#fff;
  }

.wrapperContent{
  align-items: center;
  position: relative;
  float:right;
  width:100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.imageQues{
  max-width: 600px;
  width:auto;
height: 350px;
background-color: yellow;
  margin: 0 auto;
}
#answerbutton{
  margin-top: 9px;
  text-align: center;
}
.answerBox{
    margin-top: 13px;
  text-align: center;
}
#hintButton{
  margin-top: 9px;
  text-align: center;
}
#sidebar-wrapper::-webkit-scrollbar {
    display: none;
  }
  @media screen and (max-width: 1000px) {
    #wrapper{
      flex-wrap: wrap;
    }
    #sidebar-wrapper{
      height:40px;
        overflow-x: auto;
    }
    .sidebar-nav{
      display:inline-flex;
    width:100%;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    margin-bottom: 5px;
    }
    .listItems span{
      white-space: nowrap;
    }
    .wrapperContent{
      padding-top: 1.2rem;
      display: block;
    }
    #answerbutton,#hintButton{
      margin-top: 4px;
    }
    .answerBox{
      margin-top: 9px;
    }
